.next
node_modules
public
.next
*.md
*.mdx
*.html
*.json
*.lock
*.toml
*.yaml
*.yml
*.css
*.scss
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.eot
*.ttf
*.woff
*.woff2
*.mp4
*.webm
*.wav
*.mp3
*.m4a
*.aac
*.oga
